/* Header & Navigation*/
header {
  display: flex;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
  position: fixed;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 1;
  background-color: white;
}
/* Not needed
span {
  display: inline-flex;
  list-style: none;
  width: 600px;
  justify-content:flex-start;
}*/

 /*LOGO*/
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width:70px;
  height:60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  width: 50%;
}
/* NAV*/
.nav {
  width: 60%;
  display: flex;
  justify-content: center;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  display: block;
}
/* Section dividers*/
.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  /*border: 2px solid black;*/
}
/* LARGE BOX CONTENT*/
.large {
  width: 630px;
}


.medium {
  width: 300px;
}

.small {
  width: 240px;
}

/*Basic features*/
body {
  color: black;
}

div {
  border: 1px solid black;
  display: block;
}
